<h1 class="text-3xl font-bold underline text-green-500">
  Welcome to {{ title }}!
</h1>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="mt-10 ml-4">
  <app-form-field
    [formGroup]="myForm"
    controlName="name"
    label="Name"
    errorMessage="Name is required."
  ></app-form-field>

  <app-form-field
    [formGroup]="myForm"
    controlName="email"
    label="Email"
    errorMessage="A valid email is required."
  ></app-form-field>

  <div formArrayName="addresses" class="mt-5">
    <app-addresses-block
      *ngFor="let address of addresses.controls; let i = index"
      [addressGroup]="getAddressGroup(i)"
      [index]="i"
    ></app-addresses-block>
  </div>

  <button
    type="button"
    (click)="addAddress()"
    class="bg-black text-white rounded-md p-2 m-2 font-medium w-28"
  >
    Add Address
  </button>
  <button
    type="submit"
    [disabled]="myForm.invalid"
    [ngClass]="{
      'bg-black text-white': !myForm.invalid,
      'bg-slate-300 text-black': myForm.invalid
    }"
    class="rounded-md p-2 m-2 font-medium w-28"
  >
    Submit
  </button>
</form>
