<div class="mb-4 block" [formGroup]="formGroup">
  <label [for]="controlName" class="font-medium">{{ label }}:</label>

  @if (controlName === 'country') {
  
    <select
      [id]="controlName"
      [formControlName]="controlName"
      class="mt-1 px-2 py-1 block w-full"
    >
      <option value="" disabled>Elegir Pais</option>
      <option [value]="pais" *ngFor="let pais of listPaises">{{ pais }}</option>
    </select>
  
  }
  @else if (controlName === 'city') {

    <select
      [id]="controlName"
      [formControlName]="controlName"
      class="mt-1 px-2 py-1 block w-full"
    >
      <option value="" disabled>Elegir Ciudad</option>
      <option [value]="ciudad" *ngFor="let ciudad of listCiudades">{{ ciudad }}</option>
    </select>
  }
  @else {

    <input
      [id]="controlName"
      [formControlName]="controlName"
      class="px-2 py-1 block w-full"
    />
  
  }

  <div
    *ngIf="
      formGroup.get(controlName)?.invalid && formGroup.get(controlName)?.touched
    "
    class="text-red-600 mt-2"
  >
    {{ errorMessage }}
  </div>
</div>